@charset "UTF-8";
html {
    font-size: 100%;
}

header{
    background-color:#ffffff;
    padding:20px 40px ;
    height: 60px;
}
h1{

    font-weight: bold;
    text-align:center;
    margin: 0px;

}
.contentsu {
    margin: 0 auto;
    padding: 5px;
    width: 90%;
    background-color: rgb(184, 197, 219);
    column-count: 7;
    column-gap: 0;
    }
    @media (max-width: 800px) {
    .contentsu{
    column-count: 6;
    }
    }
    @media (max-width: 480px) {
    .contentsu {
    column-count: 5;
    }
    }
    .Item {
    padding: 5px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    }
    .Item {
    padding: 20px;
    background-color: #E0F2F1;
    }
    .Item img {
    border: 1px solid #e6e6e6;
    box-shadow: 10px 10px 5px -5px #bebebe;
    }

    
