@charset "UTF-8";
html {
    font-size: 100%;
}
h1{
    text-align: center;
}
    p{
        padding-top: 50px;
    }
section{
   margin-top: 10px;
   display: flex;
   gap: 80px;
   padding-left: 150px;
    background-color: rgb(236, 240, 245);
    min-height: 100vh
    
}
  

.menue{
   
    padding-top: 80px;
}
.curry{
    font-weight: bold;
    font-size: large;
    color: darkgoldenrod;
}
.jiro{
    font-weight: bold;
    font-size: large;
    padding-top: 140px;
    color: rgb(158, 158, 68);
}
.chuka{
    font-weight: bold;
    font-size: large;
    padding-top: 140px;
    color: orangered;
}
.contentsu img {
    width: 250px;
    padding-top: 50px;
}
.contentsu{
    background-position: center;
    padding-top: 30px;
}